.deleteButton {
    background-color: rgba(125, 0, 0, 0.7);
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

.deleteButton>p {
    font-size: 18px;
    color: red;
}

.delete{
    margin: 20px;
    padding: 30px 20px 20px 20px;
    background-color: #0f1536;
    border-radius: 20px;
    position: fixed;

    opacity: 0;

    transition: opacity 0.2s ease-in-out;
    z-index: 6;
}

.visible {
    opacity: 1;
}

.confirmDelete {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(125, 0, 0, 0.5);
    color: red;
}

.cancelDelete {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #0c0d53;
    color: #8489F8;
}